* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --primary-font: 'Sedgwick Ave Display', cursive;
  --secondary-font: 'Abril Fatface', cursive;
  --tertiary-font: 'Shadows Into Light', cursive;
  --additional-font: 'Comfortaa', cursive;
}
#loading{
  background-color: #333;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 5000;
}
.sk-cube-grid {

  width: 60px;
  height: 60px;
  margin: 300px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #ffffff;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}
#home {
  background-image: url(..//Images/2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#menue {
  height: 100vh;
  width: 0px;
  background: #28243494;
  overflow-x: hidden;
}

.header {
  z-index: 10000;
}

.header h1 {
  font-family: var(--primary-font);
  font-size: 5rem;
  color: rgb(255, 255, 255);
  z-index: 10000;
}

.header p {
  font-family: var(--tertiary-font);
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  z-index: 10000;
  font-size: 1.5rem;
}

.exit {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 2rem;
  color: aliceblue;
}

#menue a {
  text-decoration: none;
  color: aliceblue;
}


#menueIcon {

  position: absolute;
  top: 10%;
  left: 0%;
  margin-left: 50px;

}

#menueIcon span {

  font-family: var(--tertiary-font);
}

#links {
  text-align: left;
}
#links a:hover {
color:rgb(220,53,69);
}

#duration {
  background: #352F44;

}

#duration h1 {
  font-family: var(--secondary-font);
  color: #FAF0E6;
  padding: 1rem;
}

.sectionHeader {
  font-family: var(--tertiary-font);
  font-size: 1.5rem;

  background: #5C5470;
  color: #FAF0E6;
  padding: 5px;
  border-bottom: #B9B4C7 1px solid;
}

#durationSection {
  background: #5C5470;

}

.innerContent {
  background: #8b859c;
  font-family: var(--additional-font);
  font-size: 1rem;
  color: aliceblue;
}
#detail{
  padding: 5rem;
  margin: auto;
  background-image: url(..//Images/8.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; 
}
.detailBox{
  border: 2px solid white;
  color: #ffffff;
  text-align: center;
  padding: 5rem;
  background: #28243494;

}


.contactIcons span{
  font-family: var(--tertiary-font);

}

#footer{
  background: #352F44;
}


#footer h1,h3 {
  font-family: var(--secondary-font);
  color: #FAF0E6;
  padding: 1rem;
}

#footer p,i {
  font-family: var(--additional-font);
  color: #FAF0E6;
  padding: 1rem;
}

.footerIcon{
  width: 3rem;
  height: 3rem;
  border: 1px solid aliceblue;
}


.footerIcon:hover {
background-color: rgb(220,53,69);
}